body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 0vw;
  overflow-x: hidden;
  box-sizing: border-box;

}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 1.8vw;
}



header {
  position: fixed;
  top: 0;
  background: white;
  z-index: 10;
  width: 100vw;
}


/* NAVBAR */
.navbar {
  width: 100%;
  height: 4.5vw;
  background-color: #fff;
  padding: 1vw;
  box-shadow: 0 4px 8px rgb(128, 124, 124);
  padding-left: 9vw;
  padding-right: 9vw;
  margin-bottom: 0px;

}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3vw;
  padding-right: 20vw;
}



.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 5px;
  font-weight: bold;
}

.navbar-nav-left li {
  margin: 0 -5px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-brand img {
  width: 75px;
  height: 75px;
  margin-right: -50px;
}

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
}

.navbar-nav-left:hover {
  color: rgb(20, 88, 20);
}


.navbar-nav-right {
  display: flex;
  flex-direction: row;
}

.navbar-nav-right img {
  display: flex;
  height: 20px;
  width: 20px;
  margin-right: -30px;
}

/* BOTONES */
.boton-ingresar {
  background-color: white;
  border-radius: 2vw;
  font-weight: bold;
  padding: 4%;
  width: 7vw;
  height: auto;

}

.boton-unete {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 2vw;
  padding: 4%;
  width: 8vw;
}


/*REWARDS*/
.rewards-container {
  display: flex;
  flex-direction: row;
  margin-top: 5vw;
  height: calc(100vh - 50px);
}

/* LADO IZQUIERDO */
.left-container {
  position: fixed;
  top: 1;

  width: 35vw;
  height: 100vh;
  background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
  color: white;
  margin: 0;
  padding: 3vw;
  margin-left: 0px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 35px;
}

.left-container img {
  width: 20vw;
}


#derecha-uno {
  background: none;
  color: white;
  border-radius: 5vw;
  border-color: white;
  font-weight: bold;
  padding: 2%;
  padding-left: 3%;
  width: 7vw;
  height: auto;
  margin-right: 4vw;
}

#derecha-dos {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius: 5vw;
  border: none;
  padding: 2%;
  padding-left: 4%;
  width: 7vw;
  margin-left: 4vw;
}


/* LADO DERECHO */
.right-container {
  width: 50vw;
  margin-left: 37vw;
  margin-top: 2vw;

  width: calc(100vw - 25vw);
  text-align: center;
  padding: 2%;

}



.iconos-uno img {
  width: 10vw;
  margin: 0 1vw;
  margin-bottom: -2vw;


}

.iconos-uno {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frases-uno {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vw;
}

.frases-uno li {
  margin: 0px 2vw;

}

#parrafo1 {
  font-size: 22px;
  margin-left: 4vw;
  margin-right: 4vw;
}

#parrafo2 {
  margin-top: 5vw;
  font-size: 22px;

}

.iconos-dos img {
  width: 9vw;
  margin: 0px 1vw;
  margin-bottom: -2vw;

}

.iconos-dos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frases-dos {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vw;
}

.frases-dos li {
  margin: 0 2vw;

}

.iconos-dosdos img {
  width: 10vw;
  margin: 0px 1vw;
  margin-bottom: -1vw;

}

.iconos-dosdos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.frases-dosdos {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vw;
}

.frases-dosdos li {
  margin: 0 2vw;

}

.container-crema {
  background-color: rgb(224, 224, 224);
  color: black;
  width: 100%;
  height: 25vw;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -1vw;
}

.container-crema img {
  width: 27vw;
}

.container-crema p {
  font-size: 18px;
  ;
}

/* CONTAINER CREMA DOS */
.container-cremados {
  background-color: rgb(224, 224, 224);
  color: black;
  width: 100%;
  height: 20vw;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -1vw;
}

.container-imagen img {
  width: 21vw;
  margin-right: 2vw;
}

.container-text {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 15px;
  text-align: start;
  text-decoration: none;
  margin: 0;
}


#video {
  margin-top: 30px;
  width: 50vw;
  height: 70vh;
  margin-bottom: 5vw;
}


.logo-final img {
  width: 30vw;
}

.redes img {
  width: 2vw;
  height: auto;
  margin: 10px;
}

.footer {
  text-align: center;
  width: 60vw;
  height: auto;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 1px 3px rgb(128, 124, 124);
  margin-top: 25px;
  margin-left: -1vw;
}



.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}




@media (min-width: 300px) and (max-width: 1100px) {
  .rewards-container {
    display: flex;
    flex-direction: column;
  }

  .left-container {
    position: absolute;
    width: 91vw;
    height: 40vh;
  }

  .left-container img {
    width: 47vw;
  }

  .botonesre {
    display: flex;
    flex-direction: column;
  }

  #derecha-uno {
    font-weight: bold;
    padding: 2%;
    padding-left: 8%;
    width: 19vw;
    height: auto;
    margin-right: 0vw;
  }

  #derecha-dos {
    padding: 2%;
    padding-left: 8%;
    width: 19vw;
    margin-left: 3vw;
  }

}



@media (min-width: 300px) and (max-width: 1100px) {
  .right-container {
    width: 91vw;
    margin-left: 0vw;
    margin-top: 45vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
  }


}